:root{
    --color1: rgba(152, 202, 198, 0.938);
    --color2: rgb(10, 81, 90);
    --color3: rgb(2, 15, 12);
    --color4: rgb(150, 150, 150);
}
body{
    padding:0;
    margin:0;
    border: 0;
    line-height: 1.5;
    font-family: Archivo, sans-serif;
    font-size: 15px;
}

#nav-bar{
    height: 90px;
    color:white;
    background-color:rgb(60,60,60,0.45);
    backdrop-filter: blur(5px);
    box-shadow: 0 0 1rem var(--color4);
    position:fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    z-index:2;
    padding-bottom: 1rem;
}
#navbar-mask{
    width: 1366px;
    height: 90px;
    margin: 0 auto;
}
#nav-bar .button{
    background-color: transparent;
    border: white solid 3px;
    border-radius: 0.3rem;
    color: white;
    padding: 10px 2rem;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    margin-left:1rem;
    transition: 0.5s ease-in-out
}
#nav-bar .button:hover{
    background-color: white;
    color:var(--color3);
    transition: 0.5s;
}
.button-container{
    margin-left:1000px;
    margin-top:-3rem;
}
#nav-bar a{
    text-decoration: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    color: white;
    margin-left:20px;

}
#nav-bar img{
    height:50px;
    width: auto;
    margin-left: 35px;
    margin-top: 25px;
}
#banner{
    height: 100vh;
    background-color:var(--color1);
    box-shadow:  0 5px 9px  var(--color4);
}
#reception{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
h1{
    text-align: center;
    font-family: Verdana;
}
#reception input{
    padding: 2px 12px;
    margin:10px 0;
    width: 500px;
    height:40px;
    box-shadow: 0 0 5px  var(--color4);
}
.lupa{
    margin-left:-35px;
    margin-bottom: -12px;
    height:30px;
    width:auto;
    opacity: 30%;
}
#content{
    display:flex;
    flex-direction:row;
    justify-content: space-evenly;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 100px 0px;
}
.main-container{
    display: flex;
    justify-content: space-evenly;
}
.container-producto{
    background-color: transparent;
    border: 2px solid var(--color3);
    width: 10rem;
    height: auto;
    position:relative;
    top: 25%;
    padding: 35px 55px;
    line-height: 25px;
    transition: 0.2s ease-in-out;
    
}
.container-producto:hover{
    margin-bottom: 10px;
    margin-top: -10px;
    transition: 0.2s ease-in-out;
}

.img{
    height:10rem;
    width:5rem;
    position:relative;
}
.container-producto a{
    text-decoration: none;
    color:inherit;
    font-weight: bold;
    width:fit-content;
    margin:45px auto;
    display:block;
}
.container-producto a:hover{
    cursor: pointer
}
.division{
    width:100%;
    height:50px;
    background-color:var(--color1);
    border: 2px solid var(--color3);
    position:absolute;
    left: 0;
    margin: 45px auto;
}
#container-contact{
    display: flex;
    justify-content: space-evenly;
    margin: 3.3rem 1rem;
    margin-top: 3.3rem;
}
.contact{
    border:2px dashed  var(--color4);
   
    width:500px;
    margin: 10rem 1rem;
    height: auto;
    line-height: 2rem;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 1.3rem;
}
#checkbox{
color:rgb(110, 110, 110)
}
#email{
    padding: 2px 12px;
    width: 400px;
    height:2.3rem;
    border: 1px solid  var(--color4);
}
#form-btn{
    background-color: transparent;
    border: var(--color) solid 2px;
    border-radius: 5px;
    color: var(--color);
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 25px auto;
    margin-left: 80%;
    transition: 1s ease-in-out
}
#form-btn:hover{
    background-color: var(--color3);
    color:white;
    transition: 1s;
}
#logo-form{
    height: 300px;
    width:auto;
    margin: 10rem 1rem;
    opacity:0%;
    transition: 2s ease-in-out
}
#logo-form:hover{
    opacity:100%;
    transition: 2s ;
}
#footer{
    height:300px;
    position:absolute;
    left: 0;
    background-color:  var(--color3);
    color: white;
    margin-top: auto;
}
.list-container{
    width: 1366px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    top: 25%;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
#footer li{
    color: white;
    list-style-type: none;
    letter-spacing: 1px;
    line-height: 25px;
}
#changos{
    font-size: larger;
    color:red;
}
